body {
  font-size: 18px;
}

/* Header Starts */

header {
  padding: 20px 35px;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: lightgray;
  margin: 0;
  font-size: 3vw;
  background-color: lightslategray;
  padding: 5px 10px;
  line-height: 1.2;
  font-weight: bold;
  display: inline;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.55vw;
  font-weight: lighter;
}

nav a {
  color: black;
  justify-content: space-between;
  font-size: 1.6rem;
}

.hero {
  background-image: url("./images/symbol.png");
  background-position: center;
  background-size: cover;
}

.hero img {
  width: 250px;
  margin: 30px;
  border-radius: 3%;
}

.hero h2 {
  color: lightgray;
  background-color: lightslategray;
  margin: 0;
  line-height: 1.2;
  display: inline;
  padding: 5px 10px;
  font-size: 50px;
}
